<p-dialog #dialog header="{{ 'PUB.EDIT_PUB' | translate }}" [(visible)]="show" (onHide)="cancel()" [modal]="true"
  [style]="{width: '636px'}">
  <div class="create-client-content clien-area">
    <form *ngIf="!showSuccess" [formGroup]="editPubForm">
      <div class="form-area">
        <label class="font-text text-left d-block mb-3">Type</label>
        <div class="d-flex flex-wrap gap-3 mb-3 form-style-1">
          <div class="d-flex align-items-center">
            <p-radioButton (onClick)="updateValidation()" value="image" formControlName="type"></p-radioButton>
            <label class="ms-2 font-text">Image</label>
          </div>
          <div class="flex align-items-center">
            <p-radioButton (onClick)="updateValidation()" value="video" formControlName="type"></p-radioButton>
            <label class="ms-2 font-text">Video</label>
          </div>
        </div>
        <div *ngIf="editPubForm.controls['type'].value=='image'">
          <img *ngIf="newPathCouverture" src="{{newPathCouverture}}" alt="img" class="image-couverture">
          <div class="image-bloc-couverture">
            <input type="file" #fileInput (change)="processFile($event)" accept="image/*" />
            <div class="image-bloc-couverture__input">
              <a class="edit-img-btn file-upload-button"></a>
              <label for="file-couverture">
                <span *ngIf="path.length">{{files.name}}</span>
                <span *ngIf="!path.length">Image *</span>
              </label>
            </div>
            <div class="error" *ngIf="submitted && !newPathCouverture.length">
              {{ 'NOTIFICATION.REQUIRED' | translate }}
            </div>
          </div>
        </div>
        <div *ngIf="editPubForm.controls['type'].value=='video'">
          <div *ngIf="videoSrc" class="container-couverture">
            <video controls>
              <source [src]="videoSrc" type="video/mp4">
              Votre navigateur ne prend pas en charge la balise vidéo.
            </video>
            <p-button icon="pi pi-times" (click)="removeVideo()"
              styleClass="p-button-rounded p-button-secondary p-button-text p-button-raised"></p-button>
          </div>
          <div class="image-bloc-couverture">
            <input type="file" #fileInput (change)="processVideo($event)" accept="video/*" />
            <div class="image-bloc-couverture__input">
              <a class="edit-img-btn file-upload-button"></a>
              <label for="file-couverture">
                <span *ngIf="videoSrc">{{videoName}}</span>
                <span *ngIf="!videoSrc">Vidéo *</span>
              </label>
            </div>
            <div class="error" *ngIf="submitted && !videoSrc">
              {{ 'NOTIFICATION.REQUIRED' | translate }}
            </div>
          </div>
        </div>
        <div class="form-style-1">
          <h1 class="font-text text-left ">
            Detail de la publication :
          </h1>
          <p-dropdown [options]="Providers" formControlName="user_id" optionLabel="first_name" optionValue="id"
            [showClear]="true" placeholder="Séléctionner un prestataire "></p-dropdown>
          <span class="error" *ngIf=" submitted && editPubForm.controls['user_id'].hasError('required')">
            {{'COMMON_REQUIRED.REQUIRED' | translate }}
          </span>
        </div>
        <div class="form-style-1">
          <h1 class="font-text text-left ">
            Région :
          </h1>
          <p-multiSelect [options]="list" formControlName="areas_id" optionLabel="name" optionValue="id"
            [showClear]="true" placeholder="Tout les régions"></p-multiSelect>
        </div>
        <h1 class="font-text text-left ">
          {{ 'NOTIFICATION.DATE' | translate }} *:
        </h1>
        <div class="form-style-1 position-title-bloc">
          <input type="date" max="2050-12-20" [min]="getCurrentDate()" class="time-input"
            formControlName="date_debut" />
          <div class="error" *ngIf="submitted && f['date_debut']?.errors?.['required']">
            {{ 'NOTIFICATION.REQUIRED' | translate }}
          </div>
          <div class="error" *ngIf="dateCompare">
            {{ 'NOTIFICATION.DATE_COMPARE' | translate }}
          </div>
        </div>
        <div class="form-style-1">
          <input type="date" class="time-input" max="2050-12-20" [min]="getCurrentDate()" formControlName="date_fin" />
          <div class="error " *ngIf="submitted && f['date_fin']?.errors?.['required']">
            {{ 'NOTIFICATION.REQUIRED' | translate }}
          </div>
          <div class="error" *ngIf="dateCompare">
            {{ 'NOTIFICATION.DATE_COMPARE' | translate }}
          </div>
        </div>
        <div class="error error-date"
          *ngIf="submitted &&  (f['date_debut'].hasError('yearRange') || f['date_fin'].hasError('yearRange'))">
          {{dateMessage}}
        </div>
        <div class="form-style-1 position-title-bloc">
          <input type="number" (keypress)="numberOnly($event)" min="0" step="1" class="time-input"
            formControlName="montant" placeholder="{{ 'NOTIFICATION.PUB.PRICE' | translate }} *" />
        </div>
        <div class="required-field">
          {{'COMMON.REQUIRED' | translate }}
        </div>
      </div>
    </form>
    <div *ngIf="showSuccess" class="success-msg">
      <div class="inscription-form-title">
        <h1 class="edit-form-title text-hideform">{{ 'PUB.SUCCESS_ADD' | translate }}</h1>
      </div>
      <button type="button" (click)="cancel()" class="btn-primary">{{'COMMON.RETOUR' | translate}}</button>
    </div>
  </div>
  <!--.create-supplier-content-->
  <ng-template pTemplate="footer">
    <div class="bouton_footer" *ngIf="!hideForm">
      <p-button (click)="dialog.close($event)" label="{{ 'NOTIFICATION.CANCEL' | translate }}"
        styleClass="p-button-text btn btn-cancel">
      </p-button>
      <p-button *ngIf="!showSuccess" label="{{ 'NOTIFICATION.PARTAGE' | translate }}"
        [icon]="isLoader ? 'pi pi-spin pi-spinner' : ''" (click)="pubSubmit()" styleClass="btn btn-primary">
      </p-button>
    </div>
  </ng-template>
</p-dialog>