@import "./../../../../scss/components/extend";
.flex-item{
  display: flex;
  align-items: center;
  p{
    width: 50%;
    margin-bottom: 8px;
    font-size: 13px;
    strong {
      font-size: 13px;
      .pi {
        font-size: 12px;
        color: $color-primary;
      }
    }
  }
  &:last-child{
    p{
      margin-bottom: 0;
    }
  }
}
.list-item-title{
  margin-bottom: 15px;
  margin-left: 5px;
}
::ng-deep
{
  .p-dialog .p-dialog-header {
    padding-bottom: 0 !important;
  }
  .p-dialog .p-dialog-content{
    padding-top: 0 !important;
  }
}
