<div class="list-orders-item-area">
  <div class="introduction-area">
    <div class="p-d-flex p-jc-between">
      <div class="big-title-blc">
        <h1 class="big-title">
          {{ "SIDEBAR.ADMINS_LIST" | translate }}
        </h1>
      </div>
      <div class="btns-group two-btns" style="text-align: end">
        <a
          class="btn-primary"
          pButton
          pRipple
          label="{{ 'COMMON.ADD' | translate }}"
          icon="pi pi-plus"
          (click)="displayAddAdmin()"
        ></a>
      </div>
    </div>
  </div>
  <div class="table-area">
    <div class="card">
      <div class="card-body">
        <p-table
          [value]="admins"
          responsiveLayout="stack"
          [breakpoint]="'960px'"
          [paginator]="true"
          [lazy]="true"
          [rows]="per_page"
          [rowsPerPageOptions]="[1, 5, 10, 20]"
          [totalRecords]="total"
          [showCurrentPageReport]="true"
          (onLazyLoad)="lazyLoad($event)"
          [sortField]="'id'"
          [sortOrder]="1"
          currentPageReportTemplate="{{
            'PAGINATION.SHOWING' | translate
          }} {first} {{ 'PAGINATION.TO' | translate }} {last} {{
            'PAGINATION.OF' | translate
          }} {totalRecords} {{ 'PAGINATION.ENTRIES' | translate }}"
        >
          <ng-template pTemplate="caption">
            <div class="recherche-bloc form-area">
              <span class="p-input-icon-left ml-auto form-style-1">
                <p-dropdown
                  (onChange)="filterChange()"
                  [(ngModel)]="filterForm.statut_pro"
                  [options]="allStatus"
                  optionLabel="name"
                  optionValue="value"
                  [showClear]="true"
                  placeholder="Statut"
                >
                  <ng-template let-selectedItem pTemplate="selectedItem">
                    <div class="d-flex align-items-center" *ngIf="selectedItem">
                      <span
                        class="bulle"
                        [style]="'background-color:' + selectedItem.color"
                      ></span>
                      <div>{{ selectedItem.name }}</div>
                    </div>
                  </ng-template>
                  <ng-template let-item pTemplate="item">
                    <div class="d-flex align-items-center">
                      <span
                        class="bulle"
                        [style]="'background-color:' + item.color"
                      ></span>
                      <div>{{ item.name }}</div>
                    </div>
                  </ng-template>
                </p-dropdown>
              </span>
              <span class="p-input-icon-left ml-auto form-style-1">
                <input
                  (input)="filterChange()"
                  [(ngModel)]="filterForm.first_name"
                  type="text"
                  placeholder="Nom"
                />
              </span>
              <span class="p-input-icon-left ml-auto form-style-1">
                <input
                  (input)="filterChange()"
                  [(ngModel)]="filterForm.last_name"
                  type="text"
                  placeholder="Prénom"
                />
              </span>
              <span class="p-input-icon-left ml-auto form-style-1">
                <p-inputNumber
                  inputId="integeronly"
                  placeholder="Télephonne"
                  [(ngModel)]="filterForm.phone"
                  (onInput)="filterChange()"
                >
                </p-inputNumber>
              </span>
              <span class="p-input-icon-left">
                <button
                  [disabled]="emptyFilter"
                  class="btn-primary outline"
                  (click)="resetFilter()"
                  pButton
                  pRipple
                  label="Effacer"
                  icon="pi pi-filter-slash"
                ></button>
              </span>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="id">
                <span class="d-flex align-items-center g-5"
                  >{{ "COMMON.REF" | translate }}
                  <p-sortIcon field="id"></p-sortIcon>
                </span>
              </th>
              <th pSortableColumn="first_name">
                <span class="d-flex align-items-center g-5">
                  {{ "COMMON.NAME" | translate }}
                  <p-sortIcon field="first_name"></p-sortIcon>
                </span>
              </th>
              <th pSortableColumn="email">
                <span class="d-flex align-items-center g-5">
                  {{ "COMMON.EMAIL" | translate }}
                  <p-sortIcon field="email"></p-sortIcon>
                </span>
              </th>
              <th *ngIf="!deleted" pSortableColumn="statut_pro">
                <span class="d-flex align-items-center g-5">
                  {{ "COMMON.STATUS" | translate }}
                  <p-sortIcon field="statut_pro"></p-sortIcon>
                </span>
              </th>
              <th pSortableColumn="phone">
                <span class="d-flex align-items-center g-5">
                  {{ "COMMON.PHONE" | translate }}
                  <p-sortIcon field="phone"></p-sortIcon>
                </span>
              </th>
              <th *ngIf="!deleted">
                <span class="d-flex align-items-center g-5"> Poste </span>
              </th>
              <th *ngIf="!deleted">
                <span class="d-flex align-items-center g-5"> Régions </span>
              </th>
              <th *ngIf="deleted"></th>
              <th class="text-center">{{ "COMMON.ACTIONS" | translate }}</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-admin>
            <tr *ngIf="!loading">
              <td>
                <span class="badge-ref">{{ admin.id }}</span>
              </td>
              <td class="nom">
                <img src="{{ admin.image }}" class="vertical-align-middle" />
                {{ admin.first_name }} {{ admin.last_name }}
              </td>
              <td>{{ admin.email }}</td>
              <td *ngIf="!deleted" class="list-dropdown">
                <p-dropdown
                  [options]="status"
                  placeholder="{{ 'COMMON.STATUS' | translate }}"
                  (onChange)="updateAdminStatus(admin.id, $event)"
                  [ngModel]="admin.statut_pro"
                  [class]="'status-' + admin.statut_pro"
                  optionLabel="name"
                  optionValue="value"
                ></p-dropdown>
              </td>
              <td>{{ admin.phone | phoneNumber }}</td>
              <td *ngIf="!deleted">
                {{ admin.roles ? (admin.roles | DataToName : roles) : "" }}
              </td>
              <td *ngIf="!deleted">
                {{ admin.areas ? (admin.areas | ToString) : "" }}
              </td>
              <td class="text-center" *ngIf="deleted">
                <button
                  [disabled]="emptyFilter"
                  class="btn-blue"
                  pButton
                  pRipple
                  label="Restaurer"
                  icon="pi pi-refresh"
                  (click)="restaurer(admin.id)"
                ></button>
              </td>
              <td class="text-center">
                <ng-container *ngIf="deleted; else actionsSection">
                  <button
                    type="button"
                    pTooltip="{{ 'ADMINS.DELETE_ADMIN' | translate }}"
                    tooltipPosition="left"
                    pButton
                    class="btn-icon btn-icon--outlin-primary"
                    icon="pi pi-trash"
                    (click)="toggleDeleteAdmin(admin)"
                  ></button>
                </ng-container>
                <ng-template #actionsSection>
                  <button
                    *ngIf="admin.roles != 'superadmin'"
                    type="button"
                    pTooltip="{{ 'ADMINS.EDIT_ADMIN' | translate }}"
                    tooltipPosition="left"
                    pButton
                    class="btn-icon btn-icon--outlin-primary"
                    icon="pi pi-pencil"
                    (click)="displayUpdateAdmin(admin)"
                  ></button>
                  <button
                    *ngIf="admin.roles != 'superadmin'"
                    type="button"
                    pTooltip="{{ 'ADMINS.DELETE_ADMIN' | translate }}"
                    tooltipPosition="left"
                    pButton
                    class="btn-icon btn-icon--outlin-primary"
                    icon="pi pi-trash"
                    (click)="toggleDeleteAdmin(admin)"
                  ></button>
                  <button
                    *ngIf="admin.roles != 'superadmin'"
                    type="button"
                    pTooltip="{{ 'COMMON.EDIT_PASSWORD' | translate }}"
                    tooltipPosition="left"
                    pButton
                    class="btn-icon btn-icon--outlin-primary"
                    icon="pi pi-lock"
                    (click)="toggleUpdatePassword(admin)"
                  ></button>
                </ng-template>
              </td>
            </tr>
            <tr *ngIf="loading">
              <td>
                <p-skeleton width="50%" styleClass="mb-2"></p-skeleton>
                <p-skeleton width="50%" styleClass="mb-2"></p-skeleton>
              </td>
              <td>
                <p-skeleton size="3rem" styleClass="mr-2"></p-skeleton>
              </td>
              <td>
                <p-skeleton width="50%" styleClass="mb-2"></p-skeleton>
                <p-skeleton width="50%" styleClass="mb-2"></p-skeleton>
              </td>
              <td>
                <p-skeleton styleClass="mb-2"></p-skeleton>
                <p-skeleton width="10rem" styleClass="mb-2"></p-skeleton>
              </td>
              <td>
                <p-skeleton styleClass="mb-5" width="100%"></p-skeleton>
              </td>
              <td>
                <p-skeleton styleClass="mb-2"></p-skeleton>
                <p-skeleton styleClass="mb-2"></p-skeleton>
              </td>
              <td *ngIf="!deleted">
                <p-skeleton styleClass="mb-2"></p-skeleton>
                <p-skeleton styleClass="mb-2"></p-skeleton>
              </td>
              <td *ngIf="!deleted">
                <p-skeleton styleClass="mb-2"></p-skeleton>
                <p-skeleton styleClass="mb-2"></p-skeleton>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage" let-columns>
            <tr *ngIf="loading">
              <td>
                <p-skeleton width="50%" styleClass="mb-2"></p-skeleton>
                <p-skeleton width="50%" styleClass="mb-2"></p-skeleton>
              </td>
              <td>
                <p-skeleton size="3rem" styleClass="mr-2"></p-skeleton>
              </td>
              <td>
                <p-skeleton width="50%" styleClass="mb-2"></p-skeleton>
                <p-skeleton width="50%" styleClass="mb-2"></p-skeleton>
              </td>
              <td>
                <p-skeleton styleClass="mb-2"></p-skeleton>
                <p-skeleton width="10rem" styleClass="mb-2"></p-skeleton>
              </td>
              <td>
                <p-skeleton styleClass="mb-5" width="100%"></p-skeleton>
              </td>
              <td>
                <p-skeleton styleClass="mb-2"></p-skeleton>
                <p-skeleton styleClass="mb-2"></p-skeleton>
              </td>
              <td *ngIf="!deleted">
                <p-skeleton styleClass="mb-2"></p-skeleton>
                <p-skeleton styleClass="mb-2"></p-skeleton>
              </td>
              <td *ngIf="!deleted">
                <p-skeleton styleClass="mb-2"></p-skeleton>
                <p-skeleton styleClass="mb-2"></p-skeleton>
              </td>
            </tr>
            <tr *ngIf="loading">
              <td>
                <p-skeleton width="50%" styleClass="mb-2"></p-skeleton>
                <p-skeleton width="50%" styleClass="mb-2"></p-skeleton>
              </td>
              <td>
                <p-skeleton size="3rem" styleClass="mr-2"></p-skeleton>
              </td>
              <td>
                <p-skeleton width="50%" styleClass="mb-2"></p-skeleton>
                <p-skeleton width="50%" styleClass="mb-2"></p-skeleton>
              </td>
              <td>
                <p-skeleton styleClass="mb-2"></p-skeleton>
                <p-skeleton width="10rem" styleClass="mb-2"></p-skeleton>
              </td>
              <td>
                <p-skeleton styleClass="mb-5" width="100%"></p-skeleton>
              </td>
              <td>
                <p-skeleton styleClass="mb-2"></p-skeleton>
                <p-skeleton styleClass="mb-2"></p-skeleton>
              </td>
              <td *ngIf="!deleted">
                <p-skeleton styleClass="mb-2"></p-skeleton>
                <p-skeleton styleClass="mb-2"></p-skeleton>
              </td>
              <td *ngIf="!deleted">
                <p-skeleton styleClass="mb-2"></p-skeleton>
                <p-skeleton styleClass="mb-2"></p-skeleton>
              </td>
            </tr>
            <tr *ngIf="!loading && !admins?.length">
              <td [attr.colspan]="deleted ? 6 : 8">
                <div class="text-center">{{ "NONE.ADMINS" | translate }}</div>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
  <app-add-admin
    [show]="showingAddAdmin"
    (close)="displayAddAdmin()"
    (success)="refreshList()"
  ></app-add-admin>
  <app-update-admin
    [show]="showingUpdateAdmin"
    (close)="displayUpdateAdmin()"
    (success)="refreshList()"
    [admin]="selectedAdminToUpdate"
    *ngIf="selectedAdminToUpdate"
  ></app-update-admin>
  <app-update-password
    [show]="showUpdatePassword"
    [admin]="adminToUpdatePassword"
    (close)="showUpdatePassword = false"
  ></app-update-password>
</div>
