<div class="list-orders-item-area">
  <div class="introduction-area">
    <div class="p-d-flex p-jc-between">
      <div class="big-title-blc">
        <h1 class="big-title">
          {{ 'SIDEBAR.DEMANDE_LIST' | translate }}
        </h1>
      </div>
      <div class="btns-group two-btns" style="text-align: end">
        <a class="btn-primary" pButton pRipple label="{{ 'COMMON.ADD' | translate }}" icon="pi pi-plus"
          (click)="displayAddDemande()"></a>
      </div>
    </div>
  </div>
  <div class="table-area">
    <div class="card">
      <div class="card-body">
        <p-table [value]="demandes" responsiveLayout="stack" [breakpoint]="'960px'" [paginator]="true" [lazy]="true"
          [rows]="per_page" [rowsPerPageOptions]="[1,5,10,20]" [totalRecords]="total" [showCurrentPageReport]="true"
          (onLazyLoad)="lazyLoad($event)" [sortField]="'id'" [sortOrder]="1"
          currentPageReportTemplate="{{ 'PAGINATION.SHOWING' | translate }} {first} {{ 'PAGINATION.TO' | translate }} {last} {{ 'PAGINATION.OF' | translate }} {totalRecords} {{ 'PAGINATION.ENTRIES' | translate }}">
          <ng-template pTemplate="caption">
            <div class=" recherche-bloc form-area">
              <span class="p-input-icon-left ml-auto form-style-1">
                <p-dropdown (onChange)="filterChange($event)" [(ngModel)]="filterForm.area" [options]="list" optionLabel="name"
                  optionValue="id" [showClear]="true" placeholder="Région">
                  <ng-template let-selectedItem pTemplate="selectedItem">
                    <div class="d-flex align-items-center" *ngIf="selectedItem">
                      <span class="bulle" [style]="'background-color:'+selectedItem.color"></span>
                      <div>{{ selectedItem.name }}</div>
                    </div>
                  </ng-template>
                  <ng-template let-item pTemplate="item">
                    <div class="d-flex align-items-center">
                      <span class="bulle" [style]="'background-color:'+item.color"></span>
                      <div>{{ item.name }}</div>
                    </div>
                  </ng-template>
                </p-dropdown>
              </span>
              <span class="p-input-icon-left ml-auto form-style-1">
                <p-dropdown [(ngModel)]="filterForm.statut" (onChange)="filterChange($event)" [options]="allStatus"
                  optionLabel="name" optionValue="value" [showClear]="true" placeholder="Statut">
                  <ng-template let-selectedItem pTemplate="selectedItem">
                    <div class="d-flex align-items-center" *ngIf="selectedItem">
                      <span class="bulle" [style]="'background-color:'+selectedItem.color"></span>
                      <div>{{ selectedItem.name }}</div>
                    </div>
                  </ng-template>
                  <ng-template let-item pTemplate="item">
                    <div class="d-flex align-items-center">
                      <span class="bulle" [style]="'background-color:'+item.color"></span>
                      <div>{{ item.name }}</div>
                    </div>
                  </ng-template>
                </p-dropdown>
              </span>
              <div class="form-style-1">
                <p-dropdown [options]="Clients" (onChange)="filterChange($event)" [(ngModel)]="filterForm.client"
                  optionLabel="first_name" optionValue="first_name" [showClear]="true"
                  placeholder="Filtrer par client"></p-dropdown>
              </div>
              <div class="form-style-1">
                <p-dropdown [options]="Providers" (onChange)="filterChange($event)" [(ngModel)]="filterForm.prestataire"
                  optionLabel="first_name" optionValue="first_name" [showClear]="true"
                  placeholder="Filtrer par préstataire"></p-dropdown>
              </div>
              <div class="p-input-icon-left ml-auto form-style-1">
                <input (input)="filterChange($event)" [max]="filterForm.date_fin" [(ngModel)]="filterForm.date_debut"
                  type="date" />
              </div>
              <div class="p-input-icon-left ml-auto form-style-1">
                <input (input)="filterChange($event)" [min]="filterForm.date_debut" type="date"
                  [(ngModel)]="filterForm.date_fin" />
              </div>
              <span class="p-input-icon-left">
                <button [disabled]="emptyFilter" class="btn-primary outline" (click)="resetFilter()" pButton pRipple
                  label="Effacer" icon="pi pi-filter-slash"></button>
              </span>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="id">
                <span class="d-flex align-items-center g-5">{{'COMMON.REF' | translate}}
                  <p-sortIcon field="id"></p-sortIcon>
                </span>
              </th>
              <th>
                <span class="d-flex align-items-center g-5">
                  {{'COMMON.PRESTATAIRE' | translate }}
                </span>
              </th>
              <th>
                <span class="d-flex align-items-center g-5">
                  {{'COMMON.CLIENT' | translate }}
                </span>
              </th>
              <th *ngIf="!deleted" pSortableColumn="statut">
                <span class="d-flex align-items-center g-5">
                  {{'COMMON.STATUS' | translate }}
                  <p-sortIcon field="statut"></p-sortIcon>
                </span>
              </th>
              <th pSortableColumn="date">
                <span class="d-flex align-items-center g-5">
                  {{'COMMON.DATE' | translate }}
                  <p-sortIcon field="date"></p-sortIcon>
                </span>
              </th>
              <th *ngIf="deleted"></th>
              <th class="text-center">{{'COMMON.ACTIONS' | translate }}</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-demande>
            <tr *ngIf="!loading">
              <td><span class="badge-ref">{{demande.id}}</span></td>
              <td>{{demande.prestataire !== undefined && demande.prestataire !== null ? demande.prestataire?.first_name
                : '-'}}</td>
              <td>{{demande.client?.first_name}}</td>
              <td *ngIf="!deleted" class="list-dropdown">
                <p-dropdown [options]="allStatus" [(ngModel)]="demande.statut" [readonly]="true"
                  [class]="'status-' + demande.statut" optionLabel="name" optionValue="value">
                </p-dropdown>
              </td>
              <td>{{demande?.dateModification}}</td>
              <td class="text-center" *ngIf="deleted">
                <button [disabled]="emptyFilter" class="btn-blue" pButton pRipple label="Restaurer" icon="pi pi-refresh"
                  (click)="restaurer(demande?.id)"></button>
              </td>
              <td class="text-center">
                <ng-container>
                  <button type="button" *ngIf="!deleted" pTooltip="Editer demande" tooltipPosition="left" pButton
                    class="btn-icon btn-icon--outlin-primary" icon="pi pi-pencil"
                    (click)="displayUpdateDemande(demande.id)"></button>
                  <button type="button" *ngIf="deleted" pTooltip="Supprimer définitivement la demande"
                    tooltipPosition="left" pButton class="btn-icon btn-icon--outlin-primary" icon="pi pi-trash"
                    (click)="deleteDemande(demande.id)"></button>
                  <button type="button" *ngIf="!deleted" pTooltip="Supprimer demande" tooltipPosition="left" pButton
                    class="btn-icon btn-icon--outlin-primary" icon="pi pi-trash"
                    (click)="trashedDeleteDemande(demande.id)"></button>
                </ng-container>
              </td>
            </tr>
            <tr *ngIf="loading">
              <td>
                <p-skeleton width="50%" styleClass="mb-2"></p-skeleton>
                <p-skeleton width="50%" styleClass="mb-2"></p-skeleton>
              </td>
              <td>
                <p-skeleton size="3rem" styleClass="mr-2"></p-skeleton>
              </td>
              <td>
                <p-skeleton width="50%" styleClass="mb-2"></p-skeleton>
                <p-skeleton width="50%" styleClass="mb-2"></p-skeleton>
              </td>
              <td>
                <p-skeleton styleClass="mb-2"></p-skeleton>
                <p-skeleton width="10rem" styleClass="mb-2"></p-skeleton>
              </td>
              <td>
                <p-skeleton styleClass="mb-5" width="100%"></p-skeleton>
              </td>
              <td>
                <p-skeleton styleClass="mb-2"></p-skeleton>
                <p-skeleton styleClass="mb-2"></p-skeleton>
              </td>
              <td *ngIf="!deleted">
                <p-skeleton styleClass="mb-2"></p-skeleton>
                <p-skeleton styleClass="mb-2"></p-skeleton>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage" let-columns>
            <tr *ngIf="loading">
              <td>
                <p-skeleton width="50%" styleClass="mb-2"></p-skeleton>
                <p-skeleton width="50%" styleClass="mb-2"></p-skeleton>
              </td>
              <td>
                <p-skeleton size="3rem" styleClass="mr-2"></p-skeleton>
              </td>
              <td>
                <p-skeleton width="50%" styleClass="mb-2"></p-skeleton>
                <p-skeleton width="50%" styleClass="mb-2"></p-skeleton>
              </td>
              <td>
                <p-skeleton styleClass="mb-2"></p-skeleton>
                <p-skeleton width="10rem" styleClass="mb-2"></p-skeleton>
              </td>
              <td>
                <p-skeleton styleClass="mb-5" width="100%"></p-skeleton>
              </td>
              <td>
                <p-skeleton styleClass="mb-2"></p-skeleton>
                <p-skeleton styleClass="mb-2"></p-skeleton>
              </td>
              <td *ngIf="!deleted">
                <p-skeleton styleClass="mb-2"></p-skeleton>
                <p-skeleton styleClass="mb-2"></p-skeleton>
              </td>
            </tr>
            <tr *ngIf="loading">
              <td>
                <p-skeleton width="50%" styleClass="mb-2"></p-skeleton>
                <p-skeleton width="50%" styleClass="mb-2"></p-skeleton>
              </td>
              <td>
                <p-skeleton size="3rem" styleClass="mr-2"></p-skeleton>
              </td>
              <td>
                <p-skeleton width="50%" styleClass="mb-2"></p-skeleton>
                <p-skeleton width="50%" styleClass="mb-2"></p-skeleton>
              </td>
              <td>
                <p-skeleton styleClass="mb-2"></p-skeleton>
                <p-skeleton width="10rem" styleClass="mb-2"></p-skeleton>
              </td>
              <td>
                <p-skeleton styleClass="mb-5" width="100%"></p-skeleton>
              </td>
              <td>
                <p-skeleton styleClass="mb-2"></p-skeleton>
                <p-skeleton styleClass="mb-2"></p-skeleton>
              </td>
              <td *ngIf="!deleted">
                <p-skeleton styleClass="mb-2"></p-skeleton>
                <p-skeleton styleClass="mb-2"></p-skeleton>
              </td>
            </tr>
            <tr *ngIf="!loading">
              <td [attr.colspan]="deleted ? 6 : 7">
                <div class="text-center">{{'NONE.DEMANDE' | translate}}</div>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>

</div>
<app-add-demande *ngIf="showingAddDemande" [show]="showingAddDemande" (close)="closeAddDemande($event)"
  (success)="refresh()"></app-add-demande>
<app-update-demande *ngIf="showingUpdateDemande" [demandeId]="demandeId" [show]="showingUpdateDemande"
  (close)="closeUpdateDemande($event)" (success)="refresh()"></app-update-demande>
