<p-dialog #dialog header="{{showSuccess ? '' : 'COMMON.EDIT_PASSWORD' | translate }}" [(visible)]="show" [modal]="true"
  [style]="{width: '636px'}" (onHide)="cancel()">
  <div class="create-client-content clien-area">
    <div *ngIf="showSuccess" class="alert alert-success" role="alert">
      mot de passe modifié avec succès
    </div>
    <form *ngIf="!showSuccess" class="form-area" [formGroup]="updatePasswordForm">
      <div class="grid gtc-3 gcg-3">
        <div class="grid-blc">
          <div class="form-style-1 form-style_password-item">
            <input [type]="showingPassword ? 'text' : 'password'" formControlName="new_password"
              placeholder="{{'COMMON.PASSWORD' | translate}}" (input)="updateValidation()" />
            <span class="error"
              *ngIf=" attemptSubmission && updatePasswordForm.controls['new_password'].hasError('required')">
              {{ 'COMMON_REQUIRED.PASSWORD' | translate }}
            </span>
            <span class="error"
              *ngIf="attemptSubmission && updatePasswordForm?.get('new_password')?.dirty && updatePasswordForm.controls['new_password'].hasError('minlength')">
              {{ 'COMMON_INVALID.PASSWORD' | translate }}
            </span>
            <button type="button" class="btn-showhide-password" [ngClass]="!showingPassword ? 'hidden' : ''"
              (click)="password()"></button>
          </div>
        </div>
        <div class="grid-blc">
          <div class="form-style-1">
            <button type="button" (click)="generatePassword()" class="btn btn-primary generatePassword">
              {{'COMMON.PASSWORD_GENERATE' | translate}}
            </button>
          </div>
        </div>
      </div>
      <div class="form-style-1">
        <input [type]="showingPassword ? 'text' : 'password'" formControlName="new_password_confirmation"
          placeholder="{{'COMMON.PASSWORD_CONFIRM' | translate}}" />
        <span class="error"
          *ngIf="attemptSubmission && updatePasswordForm.controls['new_password_confirmation'].hasError('required')">
          {{ 'COMMON_REQUIRED.PASSWORD_CONFIRM' | translate }}
        </span>
        <span class="error position-error"
          *ngIf="attemptSubmission && updatePasswordForm.controls['new_password_confirmation'].hasError('password_mismatch')">
          {{'COMMON_INVALID.PASSWORD_CONFIRM' | translate }}
        </span>
      </div>
    </form>
  </div>
  <ng-template pTemplate="footer">
    <div class="footer_style">
      <p-button *ngIf="!showSuccess" label="Annuler" styleClass="p-button-text btn btn-cancel"
        (onClick)="dialog.close($event)">
      </p-button>
      <p-button *ngIf="!showSuccess" label="{{'COMMON.EDIT' | translate }}" [disabled]="loading"
        [icon]="loading ? 'pi pi-spin pi-spinner' : ''" styleClass="btn-primary" (onClick)="submitForm()">
      </p-button>
    </div>
  </ng-template>
</p-dialog>