<div class="list-pub-item-area">
  <div class="introduction-area">
    <div class="p-d-flex p-jc-between">
      <div class="big-title-blc">
        <h1 class="big-title">
          {{ 'SIDEBAR.PUB_LIST' | translate }}
        </h1>
      </div>
      <div class="btns-group two-btns" style="text-align: end">
        <a class="btn-primary" pButton pRipple label="{{ 'COMMON.ADD' | translate }}" icon="pi pi-plus"
          (click)="displayAddPub()"></a>
      </div>
    </div>
  </div>
  <div class="table-area">
    <div class="card">
      <div class="card-body">
        <p-table [value]="affichePublicitaire" responsiveLayout="stack" [breakpoint]="'960px'" [paginator]="true"
          [lazy]="true" [rows]="per_page" [rowsPerPageOptions]="[1,5,10,20]" [totalRecords]="total"
          [showCurrentPageReport]="true" (onLazyLoad)="lazyLoad($event)" [sortField]="'id'" [sortOrder]="1"
          currentPageReportTemplate="{{ 'PAGINATION.SHOWING' | translate }} {first} {{ 'PAGINATION.TO' | translate }} {last} {{ 'PAGINATION.OF' | translate }} {totalRecords} {{ 'PAGINATION.ENTRIES' | translate }}">
          <ng-template pTemplate="caption">
            <div class=" recherche-bloc form-area">
              <span class="p-input-icon-left ml-auto form-style-1">
                <p-dropdown (onChange)="filterChange()" [(ngModel)]="filterForm.area" [options]="list"
                  optionLabel="name" optionValue="id" [showClear]="true" placeholder="Région">
                  <ng-template let-selectedItem pTemplate="selectedItem">
                    <div class="d-flex align-items-center" *ngIf="selectedItem">
                      <span class="bulle" [style]="'background-color:'+selectedItem.color"></span>
                      <div>{{ selectedItem.name }}</div>
                    </div>
                  </ng-template>
                  <ng-template let-item pTemplate="item">
                    <div class="d-flex align-items-center">
                      <div>{{ item.name }}</div>
                    </div>
                  </ng-template>
                </p-dropdown>
              </span>
              <span class="p-input-icon-left ml-auto form-style-1">
                <p-dropdown (onChange)="filterChange()" [(ngModel)]="filterForm.statut" [options]="allStatus"
                  optionLabel="name" optionValue="name" [showClear]="true" placeholder="Statut">
                  <ng-template let-selectedItem pTemplate="selectedItem">
                    <div class="d-flex align-items-center" *ngIf="selectedItem">
                      <span class="bulle" [style]="'background-color:'+selectedItem.color"></span>
                      <div>{{ selectedItem.label }}</div>
                    </div>
                  </ng-template>
                  <ng-template let-item pTemplate="item">
                    <div class="d-flex align-items-center">
                      <span class="bulle" [style]="'background-color:'+item.color"></span>
                      <div>{{ item.label }}</div>
                    </div>
                  </ng-template>
                </p-dropdown>
              </span>
              <span class="p-input-icon-left ml-auto form-style-1">
                <input (input)="filterChange()" [(ngModel)]="filterForm.first_name" type="text"
                  placeholder="Nom préstataire" />
              </span>
              <span class="p-input-icon-left ml-auto form-style-1">
                <input (input)="filterChange()" [(ngModel)]="filterForm.date_debut" type="date" max="3000-06-30" />
              </span>
              <span class="p-input-icon-left ml-auto form-style-1">
                <input (input)="filterChange()" type="date" [(ngModel)]="filterForm.date_fin"
                  placeholder="Télephonne" />
              </span>
              <span class="p-input-icon-left">
                <button [disabled]="emptyFilter" class="btn-primary outline" (click)="resetFilter()" pButton pRipple
                  label="Effacer" icon="pi pi-filter-slash"></button>
              </span>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="id">
                <span class="d-flex align-items-center g-5">{{'COMMON.REF' | translate}}
                  <p-sortIcon field="id"></p-sortIcon>
                </span>
              </th>
              <th>
                <span class="d-flex align-items-center g-5">
                  {{'COMMON.FILE' | translate }}
                </span>
              </th>
              <th pSortableColumn="statut">
                <span class="d-flex align-items-center g-5">
                  {{'COMMON.STATUS' | translate }}
                  <p-sortIcon field="statut"></p-sortIcon>
                </span>
              </th>
              <th pSortableColumn="date_debut">
                <span class="d-flex align-items-center g-5">
                  {{'COMMON.START_DATE' | translate }}
                  <p-sortIcon field="date_debut"></p-sortIcon>
                </span>
              </th>
              <th pSortableColumn="date_fin">
                <span class="d-flex align-items-center g-5">
                  {{'COMMON.END_DATE' | translate }}
                  <p-sortIcon field="date_fin"></p-sortIcon>
                </span>
              </th>
              <th>
                <span class="d-flex align-items-center g-5">
                  {{'COMMON.PROVIDER_NAME' | translate }}
                </span>
              </th>
              <th>
                <span class="d-flex align-items-center g-5">
                  Régions
                </span>
              </th>
              <th class="text-center">{{'COMMON.ACTIONS' | translate }}</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-pub>
            <tr *ngIf="!loading">
              <td><span class="badge-ref">{{pub.id}}</span></td>
              <td>
                <img *ngIf="pub.type === 'image'" src="{{pub.file}}" class="vertical-align-middle" />
                <video *ngIf="pub.type === 'video'" class="video" controls>
                  <source [src]="pub.file" type="video/mp4">
                </video>
              </td>
              <td>
                <div class="form-list form-list-dropdown col-status">
                  <li *ngIf="pub.statut=='CLOTURE'" class="status-item  statut-rejected"> {{'NOTIFICATION.CLOTURE' |
                    translate}}</li>
                  <li *ngIf="pub.statut=='ENCOURS'" class="status-item statut-inprogress "> {{'NOTIFICATION.ENCOURS' |
                    translate}}</li>
                  <li *ngIf="pub.statut=='PROGRAM'" class="status-item statut-sucess"> {{'NOTIFICATION.PROGRAMME' |
                    translate}}</li>
                </div>
              </td>
              <td>{{pub.date_debut}}</td>
              <td>{{pub.date_fin}}</td>
              <td>{{pub.user?.first_name}}</td>
              <td>{{ pub.areas ? (pub.areas | ToString) :''}}</td>
              <td class="text-center">
                <ng-container>
                  <button type="button" pTooltip="Modifier affiche" tooltipPosition="left" pButton
                    class="btn-icon btn-icon--outlin-primary" icon="pi pi-pencil"
                    (click)="displayEditPub(pub)"></button>
                  <button type="button" pTooltip="Effacer affiche" tooltipPosition="left" pButton
                    class="btn-icon btn-icon--outlin-primary" icon="pi pi-trash" (click)="deleteAdmin(pub.id)"></button>
                </ng-container>
              </td>
            </tr>
            <tr *ngIf="loading">
              <td>
                <p-skeleton width="50%" styleClass="mb-2"></p-skeleton>
                <p-skeleton width="50%" styleClass="mb-2"></p-skeleton>
              </td>
              <td>
                <p-skeleton size="3rem" styleClass="mr-2"></p-skeleton>
              </td>
              <td>
                <p-skeleton width="50%" styleClass="mb-2"></p-skeleton>
                <p-skeleton width="50%" styleClass="mb-2"></p-skeleton>
              </td>
              <td>
                <p-skeleton styleClass="mb-2"></p-skeleton>
                <p-skeleton width="10rem" styleClass="mb-2"></p-skeleton>
              </td>
              <td>
                <p-skeleton styleClass="mb-5" width="100%"></p-skeleton>
              </td>
              <td>
                <p-skeleton styleClass="mb-2"></p-skeleton>
                <p-skeleton styleClass="mb-2"></p-skeleton>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage" let-columns>
            <tr *ngIf="loading">
              <td>
                <p-skeleton width="50%" styleClass="mb-2"></p-skeleton>
                <p-skeleton width="50%" styleClass="mb-2"></p-skeleton>
              </td>
              <td>
                <p-skeleton size="3rem" styleClass="mr-2"></p-skeleton>
              </td>
              <td>
                <p-skeleton width="50%" styleClass="mb-2"></p-skeleton>
                <p-skeleton width="50%" styleClass="mb-2"></p-skeleton>
              </td>
              <td>
                <p-skeleton styleClass="mb-2"></p-skeleton>
                <p-skeleton width="10rem" styleClass="mb-2"></p-skeleton>
              </td>
              <td>
                <p-skeleton styleClass="mb-5" width="100%"></p-skeleton>
              </td>
              <td>
                <p-skeleton styleClass="mb-2"></p-skeleton>
                <p-skeleton styleClass="mb-2"></p-skeleton>
              </td>
              <td>
                <p-skeleton styleClass="mb-2"></p-skeleton>
                <p-skeleton styleClass="mb-2"></p-skeleton>
              </td>
              <td>
                <p-skeleton styleClass="mb-2"></p-skeleton>
                <p-skeleton styleClass="mb-2"></p-skeleton>
              </td>
            </tr>
            <tr *ngIf="loading">
              <td>
                <p-skeleton width="50%" styleClass="mb-2"></p-skeleton>
                <p-skeleton width="50%" styleClass="mb-2"></p-skeleton>
              </td>
              <td>
                <p-skeleton size="3rem" styleClass="mr-2"></p-skeleton>
              </td>
              <td>
                <p-skeleton width="50%" styleClass="mb-2"></p-skeleton>
                <p-skeleton width="50%" styleClass="mb-2"></p-skeleton>
              </td>
              <td>
                <p-skeleton styleClass="mb-2"></p-skeleton>
                <p-skeleton width="10rem" styleClass="mb-2"></p-skeleton>
              </td>
              <td>
                <p-skeleton styleClass="mb-5" width="100%"></p-skeleton>
              </td>
              <td>
                <p-skeleton styleClass="mb-2"></p-skeleton>
                <p-skeleton styleClass="mb-2"></p-skeleton>
              </td>
              <td>
                <p-skeleton styleClass="mb-2"></p-skeleton>
                <p-skeleton styleClass="mb-2"></p-skeleton>
              </td>
              <td>
                <p-skeleton styleClass="mb-2"></p-skeleton>
                <p-skeleton styleClass="mb-2"></p-skeleton>
              </td>
            </tr>
            <tr *ngIf="!loading">
              <td colspan="8">
                <div class="text-center">Aucune affiche publicitaire trouvée</div>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>
<!--MODALS PUB-->
<app-add-pub *ngIf="showingAddPub" [list]="list" [show]="showingAddPub" (close)="displayAddPub()"
  (success)="AfficheList()"></app-add-pub>
<app-edit-pub *ngIf="showingUpdatePub" [list]="list" [pubId]="pubId" [show]="showingUpdatePub" (close)="closeEditPub()"
  (success)="AfficheList()"></app-edit-pub>